<div>
    <h1>{{title}}</h1>
</div>

<div>
    <md-tab-group>
        <!--<md-tab label="Array">
            <div style="text-align: left;" [innerHTML]="displayFunction(setArrayEx)"></div>
        </md-tab>-->
        <md-tab label="Array">
            <mark>Array Example</mark>
            <pre style="text-align: left;">{{setLeftPadEx}}</pre>
        </md-tab>
        <md-tab label="Left-Pad">
            <div style="text-align: left;" [innerHTML]="displayFunction(setLeftPadEx)"></div>
        </md-tab>
        <md-tab label="Basic Type">
            <div style="text-align: left;" [innerHTML]="displayFunction(setBasicTypeEx)"></div>
        </md-tab>
        <md-tab label="Classes">
            <div style="text-align: left;" [innerHTML]="displayFunction(setClassEx)"></div>
        </md-tab>
        <md-tab label="Declarations Merging">
            <div style="text-align: left;" [innerHTML]="displayFunction(setBasicTypeEx)"></div>
        </md-tab>
        <md-tab label="Decorator">
            <div style="text-align: left;" [innerHTML]="displayFunction(setBasicTypeEx)"></div>
        </md-tab>
        <md-tab label="Enum">
            <div style="text-align: left;" [innerHTML]="displayFunction(setEnumEx)"></div>
        </md-tab>
        <md-tab label="Function">
            <div style="text-align: left;" [innerHTML]="displayFunction(setFunctionEx)"></div>
        </md-tab>
        <md-tab label="Destructuring">
            <div style="text-align: left;" [innerHTML]="displayFunction(setDestructuringEx)"></div>
        </md-tab>
        <md-tab label="Object In Object">
            <div style="text-align: left;" [innerHTML]="displayFunction(setObjectInObjectEx)"></div>
        </md-tab>
        <md-tab label="Array In Object">
            <div style="text-align: left;" [innerHTML]="displayFunction(setArrayObjectEx)"></div>
        </md-tab>
    </md-tab-group>
</div>
<!--
<div>
    <table class="table">
        <thead>
            <tr>
                <th class="rowID">Example</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h2>Array</h2>
                    <button (click)="setArrayEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setArrayEx'">{{setArrayEx}}}</td>
            </tr>
            <tr>
                <td>
                    <h2>Left Pad</h2>
                    <button (click)="setLeftPadEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setLeftPadEx'">{{setLeftPadEx}}</td>
            </tr>
            <tr>
                <td>
                    <h2>Basic Type</h2>
                    <button (click)="setBasicTypeEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setBasicTypeEx'">{{setBasicTypeEx}}</td>
            </tr>
            <tr>
                <td>
                    <h2>Classes</h2>
                    <button (click)="setClassEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setClassEx'">{{setClassEx}}</td>
            </tr>
            <tr>
                <td>
                    <h2>Declarations Merging</h2>
                    <button (click)="setDeclarationsMergingEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setDeclarationsMergingEx'">{{setDeclarationsMergingEx}}</td>
            </tr>
            <tr>
                <td>
                    <h2>Decorator</h2>
                    <button (click)="setDecoratorEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setDecoratorEx'">{{setDecoratorEx}}</td>
            </tr>
            <tr>
                <td>
                    <h2>Enum</h2>
                    <button (click)="setEnumEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setEnumEx'">{{setEnumEx}}</td>
            </tr>
            <tr>
                <td>
                    <h2>Function</h2>
                    <button (click)="setFunctionEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setFunctionEx'">{{setFunctionEx}}</td>
            </tr>
            <tr>
                <td>
                    <h2>Destructuring</h2>
                    <button (click)="setDestructuringEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setDestructuringEx'">{{setDestructuringEx}}</td>
            </tr>
            <tr>
                <td>
                    <h2>Object In Object</h2>
                    <button (click)="setObjectInObjectEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setObjectInObjectEx'">{{setObjectInObjectEx}}</td>
            </tr>
            <tr>
                <td>
                    <h2>Array In Object</h2>
                    <button (click)="setArrayObjectEx()">Source Open</button>
                </td>
                <td *ngIf="fnName === 'setArrayObjectEx'">{{setArrayObjectEx}}</td>
            </tr>
        </tbody>
    </table>
</div>-->