<div>
    <h1 style="text-align: center;">Angular Example</h1>
</div>

<div>
    <div class="scrollmenu">
        <a routerLink="/routingEx" routerLinkActive="active"><button>라우팅</button></a>
        <a routerLink="/ViewChild" routerLinkActive="active"><button>ViewChild</button></a>
        <a routerLink="/viewchildren" routerLinkActive="active"><button>ViewChildren</button></a>
        <a routerLink="/FriendList" routerLinkActive="active"><button>Component 1.0</button></a>
        <a routerLink="/ParentFriend" routerLinkActive="active"><button>Component 2.0</button></a>
        <a routerLink="/RxjsComponent" routerLinkActive="active"><button>Rxjs service</button></a>
        <a routerLink="/RxjsLoginComponent" routerLinkActive="active"><button>Rxjs Login</button></a>
        <a routerLink="/ContentChildComponent" routerLinkActive="active"><button>ContentChild</button></a>
        <a routerLink="/FileRead" routerLinkActive="active"><button>FileRead</button></a>
        <a routerLink="/DynamicComponent" routerLinkActive="active"><button>DynamicComponent</button></a>
        <a routerLink="/PipeComponent" routerLinkActive="active"><button>Pipe</button></a>
        <a routerLink="/BookListComponent" routerLinkActive="active"><button>MongoDB Ex</button></a>
        <a routerLink="/TypescriptComponent" routerLinkActive="active"><button>Typescript Ex</button></a>
        <a [routerLink]="['/ChangeDetection', {'outlets': {'cd-routes': ['default-change-detection']}}]" routerLinkActive="active"><button>ChangeDetection</button></a>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>